body{
    background-image: url("img/ac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    width: 80%;
    margin: 40px auto;
    background: gainsboro;
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(241, 230, 230);
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even), table.list thread> tr{
    background-color: rgb(213, 241, 190);
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(248, 243, 243);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #33e72d;
}

input[type="reset"]:hover{
    background: #33e72d;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#8fd84b ;
}
